* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes background-scroll {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 256px;
  }
}

body {
  background: url("img/background-space.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .game {
  width: 640px;
  height: 480px;
  background: url("img/background-blue.png");
  animation: background-scroll 5s linear infinite;
  overflow: hidden;
  position: relative;
}

body .game .player {
  position: absolute;
  margin: 0 0 0 -20px;
  width: 40px;
}

body .game .missile {
  position: absolute;
  margin: 0 0 0 -5px;
  width: 10px;
  height: 25px;
}

body .game .enemy {
  position: absolute;
  margin: 0 0 0 -20px;
  width: 35px;
  transform: rotate(180deg);
}
